# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
#

.*.swp
core
*.log
*.db*
.uuid
*.BACKUP
.google_maps_location_sharing.cookies.*
GOOGLE_SERVICE_ACCOUNT*.json
html5_push_registrations\.conf

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!sensors/*.yaml
!automation/*.yaml

# Ignore folders.
.vscode
.storage/
custom_components
.cloud
.git
tts
deps

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
hass_vscode.code-workspace
