# Use this file to store secrets like usernames and passwords.
# Learn more at https://www.home-assistant.io/docs/configuration/secrets/

---

###############################
### From configuration.yaml ###
###############################
home_longitude: XX.XXXX
home_latitude: YY.YYYY
home_elevation: 0

work_longitude: XX.XXXX
work_latitude: YY.YYYY
work_elevation: 0

api_password: your_api_password

internal_url: http://your-internal-url:8123
external_url: https://your-external-url.example.com
#http_base_url: https://your-base-url.example.com

google_assistant_project_id: your-google-project-id
#google_assistant_api_key: your-google-api-key

# Google Keep
google_username: your_google_username@example.com
google_password: your_google_password

# IFTTT
ifttt_api: your_ifttt_api_key

# Switcher
switcher_device_id: "your_device_id"

# Shelly.cloud
shelly_cloud_auth_key: your_shelly_cloud_auth_key

# For HACS
github_token: your_github_token

xiaomi_gw_mac: your_xiaomi_mac
xiaomi_gw_key: your_xiaomi_key

# Weather services
openweathermap_api_key: your_openweathermap_api_key
darksky_api_key: your_darksky_api_key
pirate_weather_api_key: your_pirate_weather_api_key
# climacell_api_key: your_climacell_api_key

# Tuya Smart Life
tuya_username: your_tuya_username@example.com
tuya_password: your_tuya_password
tuya_cc: 000

# Proxmox VE:
proxmox_ip: 192.168.1.XXX
proxmox_username: your_proxmox_username
proxmox_password: your_proxmox_password
proxmox_node: your_proxmox_nodename

# For HTML5 notifications
vapid_pub_key: your_vapid_pub_key
vapid_prv_key: your_vapid_prv_key
vapid_email: your_email@example.com

telegram_api_key: "your_telegram_api_key"
telegram_allowed_chat_id: 000000000

pushbullet_token: your_pushbullet_token

################################
### From device_tracker.yaml ###
################################
router_pass: your_router_password
google_maps_username: your_gmaps_username@example.com
google_maps_password: your_gmaps_password

##########################
### From recorder.yaml ###
##########################
db_url: mysql://user:password@host:3306/dbname?charset=utf8
# jsurf/rpi-mariadb # db_url: mysql://user:password@host:3306/dbname?charset=utf8
# Unused # work_db_url: mysql://user:password@host:port/dbname?charset=utf8

##############################
### From panel_iframe.yaml ###
##############################
router_url: 'http://192.168.1.1'
# configurator_url: 'http://192.168.1.XXX:3218'
portainer_url: 'https://portainer.example.com'
nodered_url: 'https://node-red.example.com'
# portainer_url: 'https://portainer.example.com'
# nodered_url: 'https://node-red.example.com'
network_switch_living_url: 'http://192.168.1.XX'
network_switch_comm_url: 'http://192.168.1.XX'

###############################
### From binary_sensor.yaml ###
###############################
domain_name: example.com

##############
### UNUSED ###
##############
duckdns_token: your_duckdns_token

openweathermap: your_openweathermap_token

########################################
### From sensors/seventeentrack.yaml ###
########################################
seventeentrack_username: your_17track_username@example.com
seventeentrack_password: your_17track_password

################
### InfluxDB ###
################
influxdb_token: your_influxdb_token
influxdb_organization: your_influxdb_org 